/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 16, 2015, 11:53:11 AM
    Author     : ewalton
*/
html {
    background: url("../images/bats.gif");
    background-repeat: repeat;
} 

header {
    border-bottom: 2px solid #000000;
    background-color: orange;
    background: linear-gradient(45deg,white,orange,black);
}

.nav ul {
    list-style: none;
    background-color: black;
    text-align: center;
    padding: 0px 0px;
    margin: 0;
} 
.nav li {
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    display:inline-block;
    padding: 0px 20px;
}

.nav a {
    text-decoration: none;
    color: #fff; 
    display: block;
} 

.nav a:hover {
    background-color: gray;
    color:black;
}

body {
    font-family: "Comic Sans MS",sans-serif;
    width: 800px;
    margin:auto;
    background-color: white;
    -moz-box-shadow: 0 0 5px 5px #000000;
    -webkit-box-shadow: 0 0 5px 5px#000000;
    box-shadow: 0 0 5px 5px #000000;
}


h1 { 
    font-size: 26px;
    padding-left: 10px;
    font-weight: bold;
}

img {
    float:left;
    padding-left: 20px;
}



#title1 {
    font-size: 36px;
    text-transform: uppercase;
    text-indent: 50px;
} 

h3 {
    font-weight: bold;
    text-indent: 50px;
}

h4 {
    text-align: left;
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 10px;
    margin: 0px 0px;
}

#welcome {
    color: black;
    font-weight:bold;
}

#welcome::first-letter {
    font-size: 50px;
    font-weight:bold;
}

p {
    padding-left:10px;
    padding-right:10px;
}

ul {
    list-style-type: none;
    padding-left: 20px;
}

#sidebarLeft {
    float:left;
    width:160px;
    padding-right:20px;
    height: 415px;
}

#sidebarRight {
    float: right;
    width: 180px;
    background-color:#F5DEB3
}

img.suggestedItems{
    display: block;
    height: 60px;
    width: 60px;    
}

#sidebarRight>ul.otherItems>li>figure>figcaption>a {
    font-size: 14px;
    color:black;
    text-align: left;

}

#sidebarRight>ul.otherItems>li>figure>figcaption>a:hover {
    color:green;

}

ul.otherItems {
    margin: 0px 0px;
    padding: 0px 0px;
}

.bullets{
    line-height:26px;
    height: 900px;

}

.bullets>li {
    background-color:orange;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    padding: 10px 10px;
    margin: 5px 0px 0px 0px;
    height: 20px;
    text-align: left;
    display:block;

}

.bullets>li>a {
    color: black;
    text-decoration: none;
    display: block;
}


#product {
    height: 395px;
}
#product_link {
    text-align: left;
}

#product_link>a {
    color:orange;
    font-weight:bold;
}
#product_link>a:hover {
    color:green;
}

#product>#catPicture>img {
    float:left;
    padding: 0px 0px;
}

#product>#productDescription {
    margin-left: 330px; 
}


footer {
    height: 50px;
    font-size: 14px;
    text-align:center;
    border-top: 2px solid #000000;
    background-color:orange;
    background: linear-gradient(45deg,black,orange,white);
    margin-left:0px;
} 
